@import "~bootstrap/scss/bootstrap";

$middle-black: #232323;

body {
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    .bg-dark {
        background-color: #212529 !important;
    }
}

footer {
    text-align: center;
    color: rgb(139, 139, 139);
}
////

.show > .dropdown-menu {
    display: block;
    position: absolute;
}

.wrap {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.sidebar-2 {
    border: 1px solid black;
    height: 100vh;
    width: 15%;
    text-align: center;
    position: sticky;
    top: 20px;
}

.main-content {
    margin: 0px 40px;
    width: 890px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
}

.list-title {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 0px rgba(92, 92, 92, 0.4);
    margin-bottom: 20px;
    display: block;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 40%;
        border-radius: 5px;
    }
}

/*.nav-menu {
    width: 290px;
    height: 100vh;
    float: left;
    position: sticky;
    top: 0;
    background-color: $middle-black;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: white;
    align-items: center;
    padding-top: 150px;
}
.navbar {
    background-color: #330879;
}*/

.cart {
    &:hover .drop-down {
        display: block;
    }
}

.drop-down {
    position: absolute;
    display: none;
    width: 260px;
    background-color: white;
    z-index: 5;
    right: 21%;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 5px 5px 20px 0px rgba(92, 92, 92, 0.4);
    text-align: center;
    color: black;
}

.row {
    > .product {
        .card:hover {
            border: 1px solid rgb(189, 189, 189) !important;
        }

        a {
            color: $middle-black;
            font-weight: bold;
            &:hover {
                color: $middle-black;
                text-decoration: none;
            }
        }
    }
}

//product page
.product-info {
    font-size: 20px;
}

.product-info .content-img {
    width: 500px;
    height: 320px;
    object-fit: contain;
}

.item-input {
    width: 40px;
}

.cart-table {
    width: 100%;
    margin-bottom: 10px;
}

.add {
    width: 100%;
}

.category-list {
    text-align: center;
    padding-top: 40px;
    a {
        color: white;
    }
}

.list-img {
    width: 350px;
    max-width: 100%;
    height: 240px;
    max-height: 100%;
    display: block;
    object-fit: contain;
}

