@import "~bootstrap/scss/bootstrap";
body {
  font-family: "TradeGothicW01-BoldCn20 675334", Arial, "微软雅黑", "黑体", Helvetica, SimHei, sans-serif;
}
footer {
  text-align: center;
  color: #8b8b8b;
}
.wrap {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.sidebar-2 {
  border: 1px solid black;
  height: 100vh;
  width: 15%;
  text-align: center;
  position: sticky;
  top: 20px;
}
.main-content {
  margin: 0px 40px;
  width: 890px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
}
.list-title {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px 0px rgba(92, 92, 92, 0.4);
  margin-bottom: 20px;
  display: block;
}
.list-title img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 40%;
  border-radius: 5px;
}
.nav-menu {
  width: 290px;
  height: 100vh;
  float: left;
  position: sticky;
  top: 0;
  background-color: #232323;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: white;
  align-items: center;
  padding-top: 150px;
}
.cart:hover .drop-down {
  display: block;
}
.drop-down {
  position: absolute;
  display: none;
  width: 260px;
  background-color: white;
  z-index: 5;
  right: 6%;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 5px 5px 20px 0px rgba(92, 92, 92, 0.4);
  text-align: center;
  color: black;
}
.row > .product .card:hover {
  border: 1px solid #bdbdbd !important;
}
.row > .product a {
  color: #232323;
  font-weight: bold;
}
.row > .product a:hover {
  color: #232323;
  text-decoration: none;
}
.product-info {
  font-size: 20px;
}
.product-info .content-img {
  width: 400px;
  height: 250px;
}
.item-input {
  width: 40px;
}
.cart-table {
  width: 100%;
  margin-bottom: 10px;
}
.add {
  width: 100%;
}
.category-list {
  text-align: center;
  padding-top: 40px;
}
.category-list a {
  color: white;
}
